* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    padding: 10px 20px;
    background-color: #2B2D42;
    color: white;
}

main{
    background-color: #F4F4F4
}

.container-logo img{
    max-width: 150px;
}

header nav{
    flex-grow: 1;
    text-align: right;
}

header nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content:flex-end;
    font-size: 40px;
    align-items: center;
}


header nav li {
    list-style-type: none;
    margin: 20px;
    
}

header nav li a {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}

main h1{
    margin: 10px;
    text-align: center;
    color: black;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}

main p{
    text-align: justify;
    font-size: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.juegos h3{
    font-size: 30px;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-align: center; /* Esto centrará el texto */
    margin: 20px 0; /* Agrega un poco de margen vertical si es necesario */
}

.producto {
   
    width: 23%; /* Aproximadamente 1/4 del ancho total */
    margin-bottom: 20px; /* Espaciado entre filas */
    background-color: #b5aaaa;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrando el contenido dentro de cada producto */
    color: #fff; /* Texto en blanco */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

.producto img {
    width: 100%;
    height: auto;
    height: 200px; /* Ajusta según lo necesario */
}

.producto h3{
    color: #3c1818;
    font-family: "Open Sans", sans-serif;
}

#container-juegos {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#container-juegos-ps2 {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#parrafo{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#titulo-juego{
    font-size: 25px;
    font-weight: bold;
}
.close-button{
    display: inline-block; /* Se comportan como botones alineados horizontalmente */
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(110, 29, 114);/* Color fuerte para los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.btn-details{
    display: inline-block; /* Se comportan como botones alineados horizontalmente */
    margin: 5px;
    padding: 10px 20px;
    background-color: rgb(110, 29, 114); /* Color fuerte para los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn {
    display: inline-block; /* Se comportan como botones alineados horizontalmente */
    margin: 5px;
    padding: 10px 20px;
    background-color: #5214ef; /* Color fuerte para los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 50%; /* Aumenta el ancho */
    height: 60%; /* Aumenta la altura */
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgb(232, 218, 218);
    border-radius: 10px; /* Añade bordes redondeados */
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra para darle un efecto de elevación */
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#modal-titulo {
    font-size: 2.5rem; /* Aumenta el tamaño del título */
    margin-bottom: 20px;
    color: #333;
    font-family: "Roboto", sans-serif;
}

#modal-descripcion {
    font-size: 1.5rem; /* Aumenta el tamaño del texto */
    color: #666;
    margin-bottom: 20px;
    max-width: 80%; /* Limita el ancho del texto */
    font-family: "Roboto", sans-serif;
}

#modal-img {
    max-width: 100%; /* La imagen se adapta al tamaño del modal */
    margin-bottom: 20px;
}


.juegos{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;

}

.producto button {
    margin-top: 10px;
}

/* Responsive */

@media (max-width: 768px) {
    header{
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

   .container-logo img{
    justify-content: center;
    max-width: 100px;
   }


    .producto {
        width: 48%; /* Dos juegos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Un juego por fila en pantallas muy pequeñas */
    }
}