* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    padding: 10px 20px;
    background-color: #2B2D42;
    color: white;
}

main{
    background-color: white;
}

.container-logo img{
    max-width: 150px;
}

header nav{
    flex-grow: 1;
    text-align: right;
}

header nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content:flex-end;
    font-size: 40px;
    align-items: center;
}


header nav li {
    list-style-type: none;
    margin: 20px;
    
}

header nav li a {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
}

main h1{
    margin: 10px;
    text-align: center;
    color: black;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}

main p{
    text-align: justify;
    font-size: 30px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

main section h3{
    font-size: 30px;
    color:black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.producto {
   
    width: 23%; /* Aproximadamente 1/4 del ancho total */
    margin-bottom: 20px; /* Espaciado entre filas */
    background-color: rgb(240, 132, 132); /* Fondo blanco para cada producto */
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centrando el contenido dentro de cada producto */
    
}

.producto img {
    width: 100%;
    height: auto;
    height: 200px; /* Ajusta según lo necesario */
}

#container-juegos {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#parrafo{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#titulo-juego{
    font-size: 25px;
    font-weight: bold;
}
.close-button{
    display: inline-block; /* Se comportan como botones alineados horizontalmente */
    margin: 5px;
    padding: 10px 20px;
    background-color: #EF233C; /* Color fuerte para los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.btn-details{
    display: inline-block; /* Se comportan como botones alineados horizontalmente */
    margin: 5px;
    padding: 10px 20px;
    background-color: #191617; /* Color fuerte para los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn {
    display: inline-block; /* Se comportan como botones alineados horizontalmente */
    margin: 5px;
    padding: 10px 20px;
    background-color: #191617; /* Color fuerte para los botones */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.modal{
    display: none;
    position:fixed;  /* Mantener en la misma posición */
    z-index: 1; /* Por encima de otros elementos */
    left: 50%;
    top: 50%;
    width: 30%; /* Ancho completo */
    height: 30%; /* Alto completo */
    transform: translate(-50%, -50%);
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: white; /* Fondo oscuro con opacidad */
}

.juegos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.producto button {
    margin-top: 10px;
}

/* Responsive */

@media (max-width: 768px) {
    header{
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

   .container-logo img{
    justify-content: center;
    max-width: 100px;
   }


    .producto {
        width: 48%; /* Dos juegos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Un juego por fila en pantallas muy pequeñas */
    }
}